@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(8, 8, 8);
  text-align: center;
  padding: 0 20px;
}

h1 {
  font-family: "Poppins";
  font-size: 56px;
  font-weight: 700;
  color: rgb(255, 162, 22);
  padding: 50px 0 20px 0;
}

form input {
  width: 80%;
  padding: 12px 20px;
  border: 1px solid transparent;
  border-radius: 1000px;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 500;
  letter-spacing: 1px;
}

form input:focus {
  outline: none;
}

form {
  position: relative;
}

.add-btn {
  padding: 12px 20px;
  border: 1px solid transparent;
  border-radius: 1000px;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 500;
  letter-spacing: 1px;
  background-color: rgb(255, 162, 22);
  color: rgb(235, 235, 235);
  position: absolute;
  top: 0;
  right: 6.2%;
  cursor: pointer;
}

#todo-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-list {
  background-color: rgb(26, 25, 25);
  border-radius: 10px;
  padding: 11px 20px;
  margin: 10px;
  display: flex;
  width: 70%;
}

.todo-text {
  flex-grow: 1;
  font-family: "EB Garamond";
  font-size: 16px;
  color: white;
  text-align: left;
  padding-left: 10px;
  cursor: pointer;
  letter-spacing: 1px;
}

.todo-list input {
  display: none;
}

.check-box {
  cursor: pointer;
  border: 2px solid rgb(255, 162, 22);
  border-radius: 1000px;
  background-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  font-size: 14px;
  min-height: 15px;
  min-width: 15px;
  max-width: 15px;
  max-height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 3px;
}

.delete-btn {
  background: transparent;
  border: 0;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.delete-btn:hover {
  color: red;
  transition: 0.1s ease;
}

input[type="checkbox"]:checked ~ .check-box {
  background-color: rgb(255, 162, 22);
  transition: 200ms;
}

input[type="checkbox"]:checked ~ .todo-text {
  text-decoration: line-through;
  color: rgb(153, 153, 153);
  transition: 200ms;
}
